*{margin: 0 auto;
  padding: 0 auto;
}

.cabecalho{
  width: 100%;
  height: 600px;
  /* border: solid white 1px; */
}
.cabecalho img:nth-child(1){
  width: 300px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  animation-name: lo;
  animation-duration: 10s;
  animation-iteration-count:infinite;
}
@keyframes lo {
  0% { filter: contrast(50%); }
  50% { filter: contrast(200%); }
  100% { filter: contrast(50%); }
}
.texto {
  font-family: 'Montserrat', 'arial';
  font-weight: 100;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 4px;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.redes{
  margin-top: -40px;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.redes svg{

}
.arrow-bottom{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 300%);
  animation-name: down;
  animation-duration: 1s;
  animation-iteration-count:infinite;
}
@keyframes down {
  0% { transform: translate(-50%, 300%); }
  50% { transform: translate(-50%, 315%); }
  100% { transform: translate(-50%, 300%); }
}
.arrow-bottom:hover{
  animation-play-state: paused;
}
.imagemsub{
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 40px;
  filter: brightness(10);
  background-color: blue;
}
.lsubir{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: red;
  z-index: 5;
}
