.containerDestaques{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: Montserrat;
  text-align: center;
}
.containerDestaques img{
  filter: brightness(50%);
}
.containerDestaques img:hover{
  filter: brightness(100%);
  transform: scale(1.1);
}
.tituloprojeto{
  margin-top: 20px;
  align-items: center;
  font-size: 28px;
  transform: scale(1.5);
  background-image: linear-gradient(45deg, cyan, blue);
  background-clip: text;
  -webkit-background-clip: text; /* Para compatibilidade com navegadores baseados em Webkit */
  color: transparent;
  display: grid;
  place-items: center;
  margin-bottom: 100px;
}
a{
  text-decoration: none;
  color: white;
}
